@import 'tailwindcss';
@import 'tw-animate-css';

body {
  background-color: var(--color-background);
  font-family: var(--font-fira-code);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 26px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--muted);
  border-radius: 0;
  border: 4.75px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--border);
}

.shiki code {
  font-family: var(--font-fira-code), monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  white-space: pre-wrap;
  word-break: break-word;
}

.about-block pre {
  counter-reset: line;
  padding-left: 36px; /* espaço pra linha */
  line-height: 1.6;
  background: transparent !important; /* garantir fundo transparente */
}

.about-block pre code > span {
  display: block;
  position: relative;
  padding-left: 0.5rem;
}

.about-block pre code > span::before {
  counter-increment: line;
  content: counter(line);
  position: absolute;
  left: -2rem;
  width: 1.5rem;
  text-align: right;
  color: var(--muted); /* text-muted */
  font-size: 0.875rem;
}

.blur-effect-1 {
  position: absolute;
  pointer-events: none;
  top: -25%;
  left: -10%;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
  filter: blur(174px);
  animation:
    pulse-blur 7s ease-in-out infinite,
    float-blur 15s ease-in-out infinite;
}

.blur-effect-2 {
  position: absolute;
  pointer-events: none;
  bottom: -23%;
  right: -41%;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
  filter: blur(174px);
  animation:
    pulse-blur 9s ease-in-out infinite alternate,
    float-blur-reverse 18s ease-in-out infinite;
}

.corner-screw {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 9999px;
}

.gradient-green {
  background-image: linear-gradient(
    to bottom,
    rgba(22, 76, 81, 0.4) 0%,
    rgba(22, 76, 81, 0.4) 30%,
    rgba(13, 58, 64, 0.09) 100%
  );
  box-shadow:
    2px 2px 4px #092d32,
    inset 0 1px 2px #16645c;
}

.gradient-purple {
  background-image: linear-gradient(
    to bottom,
    rgba(35, 75, 124, 0.4) 0%,
    rgba(35, 75, 124, 0.4) 30%,
    rgba(18, 46, 79, 0.09) 100%
  );
  box-shadow:
    2px 2px 4px #122c4e,
    inset 0 1px 2px #2c588d;
}

.nav-link {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-left: 1px solid var(--border);
  color: var(--muted);
  transition: color 0.2s;
}

.nav-link:hover {
  color: var(--foreground);
}

.arrow-key {
  background-color: var(--background);
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 8px 18px;
}

.sidebar-section:last-child .border-b {
  border-bottom: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(67, 217, 172, 0.7);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(67, 217, 172, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(67, 217, 172, 0);
  }
}

@keyframes pulse-destructive {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 123, 146, 0.7);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(255, 123, 146, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 123, 146, 0);
  }
}

@keyframes pulse-blur {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes float-blur {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, 5px);
  }
  50% {
    transform: translate(0, 10px);
  }
  75% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float-blur-reverse {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(0, -10px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-weight-retina: var(--font-retina);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --font-retina: 450;
  --background: #011627;
  --foreground: #ffffff;
  --card: #011221;
  --card-foreground: #607b96;
  --popover: #011627;
  --popover-foreground: #607b96;
  --primary: #1c2b3a;
  --primary-foreground: #ffffff;
  --secondary: #ffac6b;
  --secondary-foreground: #011423;
  --muted: #607b96;
  --muted-foreground: #607b96;
  --accent: #fea55f;
  --accent-foreground: #01080e;
  --destructive: #ff7b92;
  --border: #1e2d3d;
  --input: #011221;
  --ring: #0c1616;
  --chart-1: #4d5bce;
  --chart-2: #43d9ad;
  --chart-3: #ffffff;
  --chart-4: #c98bdf;
  --chart-5: #e99287;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-weight: var(--font-weight-retina);
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  button,
  a,
  input,
  textarea,
  select,
  option,
  label,
  div {
    font-weight: var(--font-weight-retina);
  }
}
